<footer class="footer py-2 mt-4">
      <div class="container">
        <div class="mx-auto social_logos d-flex justify-content-center">
            <%= link_to image_tag("githublogo.png", alt: "github", height: '30px', width: '30px'), 'https://github.com/michaellindstromm', class: 'navbar-brand' %>
            <%= link_to image_tag("linkedinlogo.png", alt: "github", height: '20px', width: '20px'), 'https://www.linkedin.com/in/michaelglindstrom', class: 'navbar-brand' %>
        </div>
      </div>
</footer>