<header class="navbar navbar-expand-lg navbar-dark fixed-top transparent-nav" id="navbar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="brand-holder">
    <a class="smooth-scroll nav-link" href="#top"><%= image_tag("logo.png", alt: "logo", height: '50px', width: '10px', class: 'nav-logo navbar-brand mr-4') %></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item text-center">
        <a class="smooth-scroll nav-link" href="#about">About</a>
      </li>
      <li class="nav-item text-center">
        <a class="smooth-scroll nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item text-center">
        <a class="smooth-scroll nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</header>