<div class="jumbotron jumbotron-fluid paral jumbotron1">
  <div class="container jumbo-content">
        <h1 class="display-1 text-white text-center mt-4">Michae Lindstrom</h1>
  </div>
</div>


<div class="pb-4 heading-div mx-auto">
    <h2 class="display-3 text-center mx-auto">About</h2>
</div>
<div class="container about" id="about" data-anchor-offset="100">
    <div class="row">
        <%= link_to image_tag("https://s3.us-east-2.amazonaws.com/portfoliomichaellindstrom/portfolio_photo.png", alt: "logo", height: '100%', width: '100%'), '/', class: 'mx-auto' %>
    </div>
    <div class="row container">
        <div class="col-lg-12">
            <p>I like to eat eat eat opples and bononos.</p>
            <p>I like to eat eat eat opples and bononos.</p>
            <p>I like to eat eat eat opples and bononos.</p>
            <p>I like to eat eat eat opples and bononos.</p>
            <p>I like to eat eat eat opples and bononos.</p>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid paral jumbotron2">
  <div class="container jumbo-content">
        
  </div>
</div>

<div class="pb-4 heading-div mx-auto">
    <h2 class="display-3 text-center mx-auto">Projects</h2>
</div>
<div class=" container projects mt-4" id="projects">
    <div class="card" id="banagazon">
        <div class="row">
            <div class="col-lg-6">
            
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Banagazon</h4>
                        <p>Stuff about our banagazon site.<p>
                        <a>Link to site</a> | 
                        <a>Link to repo</a>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card" id="brews_clues">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Brews Clues</h4>
                        <p>Stuff about brews clues site.<p>
                        <a>Link to site</a> | 
                        <a>Link to repo</a>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

            </div>
        </div>
    </div>


    <div class="card" id="flowground">
        <div class="row">
            <div class="col-lg-6">
            
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Banagazon</h4>
                        <p>Stuff about our banagazon site.<p>
                        <a>Link to site</a> | 
                        <a>Link to repo</a>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card" id="maze_runner">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Brews Clues</h4>
                        <p>Stuff about brews clues site.<p>
                        <a>Link to site</a> | 
                        <a>Link to repo</a>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

            </div>
        </div>
    </div>


    <div class="card" id="squeasy">
        <div class="row">
            <div class="col-lg-6">
            
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Banagazon</h4>
                        <p>Stuff about our banagazon site.<p>
                        <a>Link to site</a> | 
                        <a>Link to repo</a>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<div class="pb-4 heading-div mx-auto">
    <h2 class="display-3 text-center mx-auto">Contact</h2>
</div>
<div class="container">
    <div class="contact-statemtent my-4 text-center">
        <p>Send me a message, or get in contact with me through one of the links below.</p>
    </div>
    <div id="contact">
        <%= render 'contact_form' %>
    </div>
</div>