// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary: #1b2556;
$primary-light-accent: #293364;
$primary-dark-accent: #141D4C;

$secondary: #fc7a70;
$secondary-light-accent: #FF968E;
$secondary-dark-accent: #FF6C61;


$background-offset: #F3F3F3;
$background-dark-offset: #161616;

body {
  color: black;
  position: relative;
}

.fade {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.15s linear;
}

.abouts {
    height: 45%;
}

.modal-body {
    width: 95%;
}

.modal-img-lg {
    height: 70%;
    width: 100%;
}

.modal-tech-imgs {
    height: 20%;
}

.tech-img {
    width: 50px;
    height: 50ps;
}

.tech-imgs {
    height: 100%;
}

.modal-dialog {
    padding: 0;
    margin: 0;
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-imgs-div {
    min-width: 65%;
}

.modal-about {
    width: 25%
}

.modal-title {
    border: none;
}



.modal-img {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 00.12), 2px 0 5px rgba(0, 0, 0, 0.16);
}

.modal-brews-img {
    width: 34%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 00.12), 2px 0 5px rgba(0, 0, 0, 0.16);
}

.modal-content {
    border-radius: 0;
    width: 90%;
    height: 90%;
}

.modal-header {
    position: relative;
    border: none;
}

button.close {
    position: absolute;
    right: 2%;
    top: 2%;
    padding: 0;
    margin: 0;
}

button.close span {
    font-size: 4rem;
    font-weight: 100;
}

img.test-holder-image {
		-webkit-animation: bounce 2s infinite linear;
}

img.test-holder-image.off {
    -webkit-animation: none;
    transition: -webkit-animation 1s ease-out;
}

@-webkit-keyframes rotate {
    0%{ -webkit-transform: scale(1) rotate(0deg); }
    25%{ -webkit-transform: scale(2) rotate(90deg); }
    50%{ -webkit-transform: scale(0.5) rotate(180deg); }
    75%{ -webkit-transform: scale(1.6) rotate(270deg); }
    100%{ -webkit-transform: scale(3) rotate(360deg); }
}

@-moz-keyframes bounce {
        0%{ -moz-transform:scale(0); opacity:0; }
        50%{ -moz-transform:scale(1.3); opacity:0.4; }
        75%{ -moz-transform:scale(0.9); opacity:0.7; }
        100%{ -moz-transform:scale(1); opacity:1; }
}

@-webkit-keyframes bounce {
        0%{ -webkit-transform:scale(0); opacity:0; }
        50%{ -webkit-transform:scale(1.3); opacity:0.4; }
        75%{ -webkit-transform:scale(0.9); opacity:0.7; }
        100%{ -webkit-transform:scale(1); opacity:1; }
}

.paral {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.row {
    width: 100%;
}

.section-header {
    border-bottom: 2px solid black;
}

.heading-div {
    width: 20%;
}

.contact-form-text-area {
  color: black;
}

.contact-submit {
    border-color: $primary-light-accent;
}

.contact-submit:hover {
    border-color: $primary-dark-accent;
}

.contact-submit:focus {
    outline: 0;
}

.hidden { 
    display: none; 
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
font-size: .8em;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
font-size: .8em;
}

.transparent-nav {
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.colored-nav {
    background-color: $primary;
    transition: all .3s ease-in-out;
}

.hidden {
    display: none;
}

.navbar-brand {
    width: 50px;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 5rem;
}

// .nav-item > a.active {
//     background-color: $secondary;
// }

.jumbotron1 {
    min-height: 100vh;
    background-image: url("https://s3.us-east-2.amazonaws.com/portfoliomichaellindstrom/Port_bg2.png");
}

.jumbotron2 {
    min-height: 800px;
    background-image: url("https://s3.us-east-2.amazonaws.com/portfoliomichaellindstrom/Screen+Shot+2017-11-21+at+3.06.23+PM.png");
}

.jumbo-name {
    font-size: 10rem;
    opacity: 1;
    transition: opacity 5s;
}

.jumbo-phrase {
    opacity: 1;
    transition: opacity 3.5s;
}

.hideme {
    opacity: 0;
}

hr {
    width: 50%;
    border-color: white;
}

.section {
    height: 100%;
}

.contact-section {
    height: 92vh;
}

.card {
    width: 95%;
    background-color: transparent;
    border: none;
}

.project-div {
    cursor: pointer;
    background-color: transparent;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-color: rgba(252, 122, 112, 0.9);
}

.project-div:hover .project-overlay {
    opacity: 1;
}

.project-oppo {
    background-color: inherit;
}

.email-link {
    color: inherit;
    text-decoration: none;
}

.email-link:hover {
    color: inherit;
}

.footer {
    background-color: $primary;
}

.test-holder-div {
    z-index: 1001;
    background: white;
    height: 100vh;
    width: 100vh;
}

.no-height {
    overflow: hidden;
    height: 0;
    width: 0;
    transition: all 2s ease-in-out;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.project-section {
    height: 100%;
    min-height: 100vh;
    background-color: $background-offset;
}

// .carousel-item1-image-div {
//     background: url("https://s3.us-east-2.amazonaws.com/portfoliomichaellindstrom/Portfolio_Picture.png");
//     background-size: cover;
// }

.flash-div {
    min-height: 100px;
}

.carousel,
.carousel-item {
    height: 100%;
    margin-bottom: 60px;
}

.carousel-inner {
    height: 100%;
}

.icons-div {
    height: 100%;
}

@media (min-width: 768px) {
    .carousel,
    .carousel-item {
        min-height: 500px;
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .icon-svg {
        max-height: 50px;
        max-width: 50px;
    }
}

.olympic-card-block {
    margin-top: 1.65rem;
}

.card-img-top {
    border-radius: 0;
}